# Question 01.
# Palindrome Check
Write a program that takes a string input from the user and prints whether it is a palindrome (a string that reads the same forwards and backwards). Test the code with twi cases one where the input string is a palindrome and the other where it is not a palindrome.

# Case With Palindrome Strings.

In [ ]:
word = input("Type a word: ")                                 # 1. Ask the user for a word
reversed_word = ""                                           # 2. Reverse the word using a loop

for i in range(len(word) - 1, -1, -1):
    reversed_word = reversed_word + word[i]

print("Original word:", word)                                ## 3. Show both original and reversed words
print("Reversed word:", reversed_word)
# Now you can compare them by looking at the result. # If both are same, it's a palindrome.

Type a word: madam
Original word: madam
Reversed word: madam

# Case With No Palindrome Strings.

In [ ]:
word = input("Enter a word: ")          # Ask user to type a word

reversed_word = ""                     # Reverse the word using a loop
for i in range(len(word) - 1, -1, -1):
    reversed_word = reversed_word + word[i]

# Print original and reversed word
print("Original word:", word)
print("Reversed word:", reversed_word)

Enter a word: hello
Original word: hello
Reversed word: olleh

# Question 02.
# Formatted Table
Create a list of tuples where each tuple contains an item name (string) and its price (float).

First print the list and then Use a for loop to print each item and its price along with serial number, aligned using the tab escape character.

In [ ]:
item_list = [("Ali", 2.5), ("Bread", 1.0), ("Milk", 1.5), ("Eggs", 3.0)]         # Creating a list of tuples (item_name, price)
print(item_list)

[('Ali', 2.5), ('Bread', 1.0), ('Milk', 1.5), ('Eggs', 3.0)]

In [ ]:
print("\nFormatted Output:")                                                   # Printing each item with serial number using tab alignment
print("S.No\tItem\tPrice")
for index, (item, price) in enumerate(item_list, start=1):
    print(f"{index}\t{item}\t{price}")

Formatted Output:
S.No	Item	Price
1	Ali	2.5
2	Bread	1.0
3	Milk	1.5
4	Eggs	3.0

# Question 03.
# Vowel Counter
Given a string sentence, write a program that counts and print how many vowels it contains.

print the original string

print the count of vowels

In [ ]:
name= "my name is abid ali"
print("original string:",name)

original string: my name is abid ali

In [ ]:
vowels = ['a', 'e', 'i', 'o', 'u']                       # Step 2: Define vowels in a list
vowel_count = 0                                         # Step 3: Initialize a variable to keep count of vowels

for ch in name:                                         # Step 4: Loop through each character in the string
    for v in vowels:                                    # Loop through each vowel in the list
        vowel_count = vowel_count + (ch == v)            # Compare the character with the vowel
print("Number of vowels in the string:", vowel_count)   # Step 5: Print the number of vowels in the string

Number of vowels in the string: 7

# Question 04.
# Discount Calculator

You have a list of product prices (floats), e.g. [19.99, 5.50, 100.0].

Apply a 15% discount to each price and store the new prices in a separate list.

Then print original list, discounted list and each original and discounted price side by side.

In [ ]:
price= [19.99, 5.50, 100.0]

In [ ]:
# Step 1: Define original prices
prices = [19.99, 5.50, 100.0]

# Step 2: Create empty list to store discounted prices
discounted_prices = []

# Step 3: Apply 15% discount
for price in prices:
    discounted_price = price - (price * 0.15)
    discounted_prices.append(discounted_price)

# Step 4: Print original and discounted lists
print("Original prices:", prices)
print("Discounted prices:", discounted_prices)

# Step 5: Print side-by-side comparison
print("\nOriginal and Discounted Prices:")
for i in range(len(prices)):
    print("Original:", prices[i], "\tDiscounted:", discounted_prices[i])

Original prices: [19.99, 5.5, 100.0]
Discounted prices: [16.9915, 4.675, 85.0]

Original and Discounted Prices:
Original: 19.99 	Discounted: 16.9915
Original: 5.5 	Discounted: 4.675
Original: 100.0 	Discounted: 85.0

# Question 05.
# Phone Number Formatter

You have a list of 11-digit strings like ["03123456789", "03001234567"]. Convert each into the format "+92-XXX-XXXXXXX" and print them. Print Original and Formatted number side by side.

In [ ]:
# Step 1: List of original phone numbers
phone_numbers = ["03123456789", "03001234567"]

# Step 2: Empty list to store formatted numbers
formatted_numbers = []

# Step 3: Loop through each number and format it
for number in phone_numbers:
    formatted = "+92-" + number[1:4] + "-" + number[4:]
    formatted_numbers.append(formatted)

# Step 4: Print both original and formatted numbers
print("Original\t\tFormatted")
for i in range(len(phone_numbers)):
    print(phone_numbers[i], "\t", formatted_numbers[i])

Original		Formatted
03123456789 	 +92-312-3456789
03001234567 	 +92-300-1234567

## Question 06.
# Score Statistics
You have a tuple of exam scores, e.g. (72, 85, 91, 58, 76).
print the provided tuple
Convert it to a list and print it.
Compute and print the minimum, maximum, and average score.

In [ ]:
# Original Tuple of Scores
scores = (72, 85, 91, 58, 76)
print("Original Tuple:", scores)

# Convert tuple to list
scores_list = list(scores)
print("Converted List:", scores_list)

# Calculate min, max, and average
minimum = min(scores_list)
maximum = max(scores_list)
average = sum(scores_list) / len(scores_list)

# Print results
print("Minimum Score:", minimum)
print("Maximum Score:", maximum)
print("Average Score:", average)

Original Tuple: (72, 85, 91, 58, 76)
Converted List: [72, 85, 91, 58, 76]
Minimum Score: 58
Maximum Score: 91
Average Score: 76.4

# Question 07.
# Reverse Each Word in a Sentence
Given a sentence string, reverse each word individually but keep the word order.
print the original sentence
print the formatted sentence

In [ ]:
# Original sentence
sentence = "my name is abid ali"
print("Original Sentence:", sentence)

# Step 1: Split the sentence into words
words = sentence.split()

# Step 2: Reverse each word using a loop
reversed_words = []  # empty list to store reversed words
for word in words:
    reversed_word = ""  # initialize empty reversed word
    for i in range(len(word) - 1, -1, -1):
        reversed_word = reversed_word + word[i]
    reversed_words.append(reversed_word)  # add to the list

# Step 3: Join the reversed words back into a sentence
formatted_sentence = " ".join(reversed_words)

# Step 4: Print the result
print("Formatted Sentence:", formatted_sentence)

Original Sentence: my name is abid ali
Formatted Sentence: ym eman si diba ila

# Question 08.
# Running Sum List
From a given list create a list where each element is the sum of all previous elements (inclusive). Print both the lists.

In [ ]:
# Original list of numbers
numbers = [1, 2, 3, 4, 5]
print("Original List:", numbers)

# Create a new list for running sum
running_sum = []

# Variable to keep track of the current sum
current_sum = 0

# Loop through the list to calculate running sum
for num in numbers:
    current_sum = current_sum + num
    running_sum.append(current_sum)

# Print the result
print("Running Sum List:", running_sum)

Original List: [1, 2, 3, 4, 5]
Running Sum List: [1, 3, 6, 10, 15]

# Question 09.
# Interleave Two Lists
Combine two equal-length lists into a single one by alternating elements.
Input: [1, 2, 3] and ['a', 'b', 'c']
Output: [1, 'a', 2, 'b', 3, 'c']
Print all three lists.

In [ ]:
# Step 1: Define the two lists
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

# Step 2: Create an empty list to store the interleaved result
interleaved_list = []

# Step 3: Use a loop to alternate elements
for i in range(len(list1)):
    interleaved_list.append(list1[i])
    interleaved_list.append(list2[i])

# Step 4: Print all lists
print("List 1:", list1)
print("List 2:", list2)
print("Interleaved List:", interleaved_list)

List 1: [1, 2, 3]
List 2: ['a', 'b', 'c']
Interleaved List: [1, 'a', 2, 'b', 3, 'c']

# Question 10.
# Repeat Letters

Given a string, return a new string where each letter is repeated twice. Print both the strings

In [ ]:
original_string = "hello"                              # Step 1: Define the original string
repeated_string = ""                                  # Step 2: Create an empty string to store the result

for ch in original_string:                            # Step 3: Loop through each character and repeat it twice
    repeated_string = repeated_string + ch + ch

print("Original String:", original_string)        # Step 4: Print both strings
print("Repeated String:", repeated_string)

Original String: hello
Repeated String: hheelllloo

# Submitted BY:

# Name        :             Abid ALI

ROLL NO     : PIAIC       256874